{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
            "browsers": ["last 1 version, > 1%"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "babel-plugin-styled-components",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel"
  ]
}
